.main {
  display: grid;
  grid-template-areas: "dialog_item messages_item";
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
}

.dialog_item {
  grid-area: dialog_item;
}

.messages_item {
  grid-area: messages_item;
}
