.dialog_item {
  grid-area: dialog_item;
  color: dodgerblue;
}

.dialog_item a {
  color: aliceblue;
  text-decoration: none;
}

.dialog_item a.active {
  color: darkgreen;
}

.messages_item {
  grid-area: messages_item;
  color: green;
}
